
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.card-custom {
    width: 50%;
    margin: 2rem auto 0 auto;
}

.btn-group-custom {
    margin: 0.8rem 0 ;
}

.form-custom {
    margin: 0.5rem 0;
}



